table inet levoile {}
flush table inet levoile
table inet levoile {
  chain input {
    type filter hook input priority 0; policy drop;
    iifname "lo" accept
    ct state established,related accept
    iifname "{{.TunName}}" accept
  }
  chain output {
    type filter hook output priority 0; policy drop;
    oifname "lo" accept
    ct state established,related accept
    oifname "{{.TunName}}" accept
    ip daddr {{.RelayIP}} udp dport 443 accept
    ip daddr {{.RelayIP}} tcp dport 443 accept
  }
}
