pkgbase = levoile
	pkgdesc = VPN — tunnel QUIC/HTTP3 via Cloudflare, capture L3 TUN, kill switch nftables, UI tray+webview
	pkgver = 0.0.0
	pkgrel = 1
	url = https://github.com/velia-the-veil/le_voile
	install = levoile.install
	arch = x86_64
	arch = aarch64
	license = MIT
	makedepends = binutils
	makedepends = openssl
	depends = webkit2gtk-4.1
	depends = libayatana-appindicator
	depends = nftables
	depends = iproute2
	conflicts = levoile-bin
	conflicts = levoile-git
	options = !strip
	options = !debug
	source_x86_64 = levoile-0.0.0-x86_64.deb::https://github.com/velia-the-veil/le_voile/releases/download/v0.0.0/levoile_0.0.0_amd64.deb
	source_x86_64 = levoile-0.0.0-x86_64.deb.sig::https://github.com/velia-the-veil/le_voile/releases/download/v0.0.0/levoile_0.0.0_amd64.deb.sig
	sha256sums_x86_64 = REPLACE_ME_AMD64
	sha256sums_x86_64 = SKIP
	source_aarch64 = levoile-0.0.0-aarch64.deb::https://github.com/velia-the-veil/le_voile/releases/download/v0.0.0/levoile_0.0.0_arm64.deb
	source_aarch64 = levoile-0.0.0-aarch64.deb.sig::https://github.com/velia-the-veil/le_voile/releases/download/v0.0.0/levoile_0.0.0_arm64.deb.sig
	sha256sums_aarch64 = REPLACE_ME_ARM64
	sha256sums_aarch64 = SKIP

pkgname = levoile
